pandas>=1.3.0
numpy>=1.20.0
torch>=1.9.0
# torchvision torchaudio # Seringkali dibutuhkan oleh torch, tergantung instalasi Anda
# lightgbm>=3.0.0 # Dikomentari jika tidak jadi dipakai di base model final
scikit-learn>=1.0.0
transformers>=4.20.0 # Versi bisa disesuaikan
datasets>=2.0.0 # Diperlukan oleh transformers Trainer
imblearn # Untuk imbalanced-learn (RandomUnderSampler)
joblib>=1.0.0
matplotlib>=3.4.0
seaborn>=0.11.0
wordcloud>=1.8.0
shap>=0.40.0
streamlit>=1.10.0 # Untuk menjalankan aplikasi Streamlit
gdown>=4.4.0 # Tambahkan gdown

# Catatan:
# - Sesuaikan versi jika Anda memerlukan versi spesifik.
# - Pastikan environment Anda (lokal atau Streamlit Cloud) memiliki Python versi yang kompatibel (misal, Python 3.8 - 3.11).
# - Untuk PyTorch dengan dukungan CUDA, instalasi mungkin perlu perintah khusus dari situs PyTorch.
#   Versi di atas adalah untuk CPU/CUDA generik.
